Python specific files
*.pyc
pycache/

Environment variables
.env

Virtual environment directory
venv/

Database files
*.db
*.sqlite
*.sqlite3

Vector database persistence directory
chroma_db/

Temp files
temp_docs/